* {
    /* outline: 1px solid red; */
	transition-duration: 0.3s;
}

html,
body {
    padding: 0;
    margin: 0;
}

/* SCAFFOLD */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    max-width: 50vw;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    article {
        max-width: 96vw;
    }
    .brand {
        width: 100px;
    }
    .brand a h2 {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
    article {
        max-width: 80vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    article {
        max-width: 60vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    article {
        max-width: 50vw;
    }
}


/* NAVIGATION */

.brand a {
    display: flex;
    background: url("assets/images/ehri-header.svg") no-repeat left center;
    width: 500px;
    height: 100px;
    text-indent: 180px;
    border-bottom: none;
    text-decoration: none;
    background-color: none;
    margin: 2em;
    color: #3E274B;
}

.brand a h2 {
    font-weight: normal;
    margin-top: 1em;
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
}
.navbar {
    display: flex;
    flex-direction: row;
    margin: 0 0 2rem 0;
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    display: block;
    font-size: 1em;
    font-weight: normal;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: none;
    text-align: left;
    padding: 1em 3em;
    color: #771646;

}

footer {
    background-color: #3b3b3b;
    padding: 2rem 3rem;
    color: #dad7be;
}

main {
    padding: 1rem 3rem 4rem 3rem;
}

/* DESIGN */

body {
    font-family: 'Barlow', sans-serif;
    color: #3b3b3b;
    /* background: url("assets/images/doc-paper-bgd.jpg") repeat-y top center; */
    background-size: cover;
}

main a {
    color: #3b3b3b;
    font-weight: bold;
    text-decoration: none; /* odebrání implicitního podtržení linku */
    background-image: linear-gradient(to bottom, transparent calc(100% - 4px), #dad7be calc(100% - 4px)); /* vytvoření podtržení pomocí pozadí */
    background-position: bottom; /* nastavení pozice pozadí na spodní okraj prvku */
    background-repeat: no-repeat; /* zabránění opakování pozadí */
    background-size: 100% 4px; /* nastavení velikosti pozadí na 100% šířky a 2px výšky */
    display: inline-block; /* nastavení prvku na blokový pro správné zobrazení pozadí */
    padding-left: 4px;
    padding-right: 4px;
}

main a:hover {
    color: #771646;
    text-decoration: none; /* odebrání implicitního podtržení linku */
    background-image: linear-gradient(to bottom, #dad7be calc(100% - 8px), #dad7be calc(100% - 8px)); /* vytvoření podtržení pomocí pozadí */
    background-position: bottom; /* nastavení pozice pozadí na spodní okraj prvku */
    background-repeat: no-repeat; /* zabránění opakování pozadí */
    background-size: 100% 100%; /* nastavení velikosti pozadí na 100% šířky a 2px výšky */
    display: inline-block; /* nastavení prvku na blokový pro správné zobrazení pozadí */
}

img.img-in-text {
    float: right;
    margin: 2rem 1rem;
    width: 20vw;
    position: relative;
    right: -4rem;
}


h1,
h2,
h3,
h4 {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-size: 3.625rem;
    line-height: 110%;
}

h2 {
    font-size: 2.375rem;
    color: #771646;
    margin-top: 4rem;
}

h3 {
    font-size: 1.375rem;
    color: #3E274B;
    text-transform: uppercase;
    margin-top: 4rem;
}

h4 {
    margin-top: 4rem;
    font-size: 1.2625rem;
}

h5 {
    margin-top: 4rem;
    font-size: 1.2625rem;
    border-bottom: 2px solid #dad7be;
}


p {
    font-family: 'Noto Serif', serif;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.0625rem;
    line-height: 1.8rem;
}

sup {
    line-height: 1;
}

sup a {
    display: inline;
    font-size: 0.8rem;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: #771646;
    text-decoration: none;;
    background-image: none;
}

sup a:hover {
    background-image: none;
}