* {
    /* outline: 1px solid red; */
    transition-duration: 0.3s;
}
html {
    scroll-behavior: smooth;
}

html,
body {
    padding: 0;
    margin: 0;
}

/* SCAFFOLD */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

main {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

article {
    max-width: 50vw;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 768px) {
    article {
        max-width: 96vw;
    }

    .brand {
        width: 100px;
    }

    .brand a h2 {
        display: none;
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 769px) {
    article {
        max-width: 80vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    article {
        max-width: 60vw;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {
    article {
        max-width: 50vw;
    }
}


/* NAVIGATION */
.brand a {
    display: flex;
    background: url("assets/images/ehri-header.svg") no-repeat left center;
    width: 500px;
    height: 100px;
    text-indent: 150px;
    border-bottom: none;
    text-decoration: none;
    background-color: none;
    margin: 2em;
    color: #3E274B;
}

.brand a h2 {
    font-weight: 500;
    margin-top: 1em;
    font-size: 1.5rem;
}

nav {
    display: flex;
    align-items: center;
}

.navbar {
    display: flex;
    flex-direction: row;
    margin: 0 0 2rem 0;
    padding: 0;
}

.navbar ul {
    margin: 0;
    padding: 0;
}

.navbar li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar li a {
    display: block;
    font-size: 1.04em;
    font-weight: 500;
    text-decoration: none;
    border-bottom: none;
    text-align: left;
    padding: 1em 3em;
    color: #771646;

}

footer {
    background-color: #3b3b3b;
    padding: 2rem 3rem;
    color: #dad7be;
}

main {
    padding: 1rem 3rem 4rem 3rem;
}

/* DESIGN */
body {
    font-family: 'Barlow', sans-serif;
    color: #3b3b3b;
    /* background: url("assets/images/doc-paper-bgd.jpg") repeat-y top center; */
    background-size: cover;
}

main a {
    color: #3b3b3b;
    font-weight: bold;
    text-decoration: none;
    background-image: linear-gradient(to bottom, transparent calc(100% - 4px), #dad7be calc(100% - 4px));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 4px;
    display: inline-block;
    padding-left: 4px;
    padding-right: 4px;
}

main a:hover {
    color: #771646;
    text-decoration: none;
    background-image: linear-gradient(to bottom, #dad7be calc(100% - 8px), #dad7be calc(100% - 8px));
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: inline-block;
}

h1,
h2,
h3,
h4 {
    font-family: 'Barlow', sans-serif;
}

h1 {
    font-size: 3.625rem;
    line-height: 110%;
}

h2 {
    font-size: 2.375rem;
    color: #771646;
    margin-top: 4rem;
}

h3 {
    font-size: 1.375rem;
    color: #3E274B;
    text-transform: uppercase;
    margin-top: 4rem;
}

h4 {
    margin-top: 4rem;
    font-size: 1.2625rem;
    color: #771646;
    border-top: 4px solid #771646;
    padding-top: 0.4em;
}

h5 {
    margin-top: 4rem;
    font-size: 1.2625rem;
}

p {
    font-family: 'Noto Serif', serif;
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: 1.0625rem;
    line-height: 1.8rem;
}

q {
    display: block;
    font-family: 'Noto Serif', serif;
    line-height: 1.6em;
    padding: 2vw;
    margin-bottom: 2vw;
    color: #771646;
    border-left: 4px solid #dad7be;
}

sup {
    line-height: 1;
}

sup a {
    display: inline;
    font-size: 0.8rem;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
    color: #771646;
    text-decoration: none;
    ;
    background-image: none;
}

sup a:hover {
    background-image: none;
}

figure {
    width: 100%;
    margin: 2rem 0;
    line-height: 1em;
    background-color: #dad7be;
    display: block;
    margin-top: 0;
}

figure figcaption {
    padding: 0.4vw 1.2vw;
}

figure img {
    width: 100%;
    margin-bottom: 0;
}

figure p {
    font-size: 0.8em;
    line-height: 1.4em;
}

figure h4,
figure h5 {
    margin: 1vw 0;
}

.fig-side {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.fig-side .img-container {
    width: 2fr;
}

.fig-side figcaption {
    width: 1fr;
    display: subgrid;
}

table,
td,
th {
    border: 1px solid #8f8f8f;
    text-align: left;
    vertical-align: top;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 4em 0;
    font-size: 0.9rem;
}

thead {
    background-color: #dad7be;
}

th,
td {
    padding: 0.8vw 1vw;
}

tr:hover {
    background-color: #dad7be5c;
}

.endnotes {
    color: #771646;
    margin-top: 2em;
    padding-top: 2em;
    border-top: 2px solid #dad7be;
}
.endnotes ol {
    text-align: left;
    padding: 1em;
}
.endnotes ol li::marker {
    text-align: left;
}
.endnotes ol li {
    margin: 0;
    margin-bottom: 1em;
    padding: 0;
    padding-left: 2em;
}    